h4 {
  text-decoration: none;
}

img {
  object-fit: cover;
}

.on:hover {
  background-color: #f4f4f4;
}

.on {
  transition: background-color 0.2s ease-in-out;
}

a:hover {
  text-decoration: underline;
}

a {
  text-decoration: none;
}

.fade-up-on-scroll.visible {
  opacity: 1;
  transform: translateY(0);
}

